h1 {
    color: #4982ac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
  }
  h2, h3 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: rgb(0, 0, 0);
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
