

<!-- Shows you your pokemoncards -->
<div >
<h1 class="pokeball">Your Pokémons</h1>
<div class="d-flex flex-wrap pokemoncards" style="text-align: center;">
<div *ngFor="let poke of testpokemons">
    <img style="margin: 15px;" src={{poke.imageUrl}}> 
    <p>{{poke.name}}</p>
    
 
</div>
</div>
  </div>