<h2 class= "ml-3 center">Search for pokémons here</h2>
<div id="searchBar" class="input-group">
  <input type="text" class="form-control" id="searchInput" (keyup)="search($event)" placeholder="Search for pokemons..">
</div>

  <div class="column pkmn-gallery">
    <a [routerLink]="['/information']"  *ngFor="let testpokemon of testpokemons" [queryParams]="{id: testpokemon.id}">
      <img style="margin: 15px;" src={{testpokemon.imageUrl}}> 
    </a>
  </div>
 