.center {
    text-align: center;
}


.input-group {
    justify-content: center;
}

ul{
    list-style-type:none;

}

#searchBar{
    align-content: center;
    margin-left: 200px;
    width: 500px;
    margin: auto;
    display: block;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    padding-top: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
}

.pkmn-gallery {
    text-align: center;
}


.hvr-grow {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}