/* Application-wide Styles */
h1 {
    color: #4982ac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: rgb(86, 104, 153);
  color: white;
}



footer{
  background-color:  #4982ac;
  
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}

.footer-copyright{
  background-color:  #1f557c;

}