
<div class="jumbotron text-center" style = "background-color:'white'">
  <h1>{{title}}</h1>
  <p>- a world full of Pokemons!</p> 

</div>

<div class = "pb-5">
<nav class="navbar navbar-light mb-20" style="background-color: #4982ac; 
border-radius: 4px;">
<!-- <div class = "nav navbar-nav"> -->
<a class = "navbar-brand" routerLink="" routerLinkActive="active">Startpage</a>
<a class = "navbar-brand" routerLink="/searchpage" routerLinkActive="active">Searchpage</a>
<a class = "navbar-brand" routerLink="/pokeball" routerLinkActive="active"><img height="48" src="assets/Pokeball.png"></a>
<a class = "navbar-brand" routerLink="/testpage" routerLinkActive="active">Testpage</a>
<a class = "navbar-brand" routerLink="/battlefield" routerLinkActive="active">Battlefield</a>


<!-- </div> -->
</nav>
</div>

<router-outlet></router-outlet>
<!-- <app-testpokemons ></app-testpokemons> -->
<app-messages></app-messages>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

 <div class="text-center">
  <p style="padding-top: 50px; padding-bottom: 50px;">A website created by Vitae Studios</p>
   
 </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->