.header {
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: #ff1c1c;
    font-size: 50px;
    font-weight: bold;
  }

.result {
    padding: 20px;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: bold; 
}

.normalText {
    padding: 5px;
    font-size: 20px;
  }

.container{
    /* margin: 50px; */
    text-align: center; 
}


.flex-container {
    display: flex;
    justify-content: center;
    
}

.dropdown-toggle{
    margin: 10px  !important;
    width: 200px !important;
    height: 35px !important; 
  }

.opponentbutton {
    margin: 10px  !important;
     
}

.battleButton {
  margin-top: 50px;
}
  