
<div>
<h2 class="header">Time to Battle!</h2>
</div>




  <body>
    <div class="flex-container">

    <div class="container">
      <p class="normalText">Your player</p>
      <img id="image02" src={{playerImage}}>
      <br><select required class="btn btn-success dropdown-toggle" (change)="onChange($event.target.value)"> <!--[(ngModel)]="pokemon" (change)="onChange(pokemon)" (ngModel)]="pokemon" (change)="onChange(pokemon)"-->
        <option selected disabled>Choose your fighter...</option>
        <option *ngFor="let pokemon of myPokemons" value="{{pokemon.id}}">{{pokemon.name}} {{pokemon.hp}} hp</option>
      </select>
      
    </div>

    <div class="container">
      <input [disabled]="isDisabled" type="button"  class="btn btn-primary battleButton"  (click) = "startBattle($event)"
      value= "Start Battle">
      <p class="result">{{result}}</p>
      <p>{{pokemoninfo}}</p>
    </div>

    <div class="container">
      <p class="normalText">Your opponent</p>
      <img id="image01" src={{opponentImage}} class="hide">
      <br/>
      <input type="button" ng-model="checked" (click) = "getTheOpponent($event)"
         value= "Get opponent" class="btn btn-danger opponentbutton" style= "background-color: #ff1c1c;">
    </div>

    </div>
  </body>