ul{
    list-style-type:none;
} 
.container{
    display: flex;
    padding: 0;
    padding-top: 30px;
    margin: 0;

}
.infodiv{
    
    flex-direction: row;
}

.back{
    margin-left: 20px;
    
}