<a [routerLink]="['/searchpage']" class="back"> &larr; Back to search page</a>
<div style="padding-left: 100px; padding-top: 30px;" *ngFor="let testpokemon of testpokemons">
    <h1><strong>{{testpokemon.name}}</strong></h1>
    <h3>{{testpokemon.supertype}}</h3>
    <div class="container">
       
    <div class="infodiv"><img  src={{testpokemon.imageUrl}}> </div>
  
      <div class="infodiv">
      <ul>
        
         
          <li *ngIf="testpokemon.types"><strong>Type:</strong> {{testpokemon.types}}</li>
          <li *ngIf="testpokemon.hp"><strong>HP:</strong>  {{testpokemon.hp}}</li>
          <li *ngIf="testpokemon.evolvesFrom"><strong>Evolves from</strong> {{testpokemon.evolvesFrom}}</li>
          <li *ngIf="testpokemon.ability"><strong>{{testpokemon.ability.name}}:</strong> {{testpokemon.ability.text}}</li>
          <li *ngIf="testpokemon.attacks"><strong>Attacks:</strong></li>
          <li *ngFor="let at of testpokemon.attacks">&#10038; <i>{{at.name}}:</i> {{at.text}}</li>
          <li *ngIf="testpokemon.weaknesses"><b>Weaknesses:</b></li>
          <li  *ngFor="let weak of testpokemon.weaknesses">&#8722; <i>{{weak.type}}:</i> {{weak.value}}</li>
          
          
          <li style="margin-top: 30px">{{testpokemon.text}}</li>
          
      </ul>
    </div>
</div>

  </div>
 