.header {
  text-align: center;
  color: #4982ac;
}

body {
  text-align: center;
}

form {
  margin-top: 20px;
  display: inline-block;
  width: 20%
}

label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.transition {
  transition: all .4s ease-in-out;
}


.form-control {
    position: relative;
    display: inline-block;
  }
  
  .form-control {
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 1;
    color: #4982ac;
  }
  
  .form-control:hover {
    display: block;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    opacity: 1;
  }

  #elements {
    background-color: #d3d3d3;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: all 375ms ease-in-out;
  }

  .elementSelect {
    padding: 30px;
  }

  .slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4982ac;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4982ac;
    cursor: pointer;
  }

.pkmn-gallery {
  text-align: center;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d3d3d3;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}

.btn:hover {
  background: #4982ac;
  color: #d3d3d3;
}
