<h2 class="header">Which Pokémon are you?</h2>

<body>
  <form [formGroup]="pokeForm" (ngSubmit)="onSubmit()">
    <div id="element" class="form-group">
      <label>Which element are you?</label><br>
      <select required class="dropdown-toggle form-control" formControlName="element">
        <option selected disabled>Which element are you?</option>
        <option *ngFor="let type of types" id={{type}} value={{type}}>
          {{type}}
        </option>
      </select>
    </div>


    <div class="form-group slidecontainer">
      <label for="formBasicRange">How evolved are you?</label><br>
      <input type="range" class="form-control-range slider" min="0" max="7" step="1" id="formBasicRange"
        formControlName="basic">
    </div>

    <div class="form-group slidecontainer">
      <label for="formRareRange">How rare are you? </label><br>
      <input type="range" class="form-control-range slider" min="0" max="2" step="1" id="formRareRange"
        formControlName="rarity">
    </div>

    <br>
    <button type="submit" (click)="onSubmit()" class="btn btn-light">Submit</button>
  </form>

  <div class="column pkmn-gallery">
    <br>
    <h2 class="header">{{feedback}}</h2>
    <a [routerLink]="['/information']" [queryParams]="{id: myPokemon.id}">
      <img style="margin: 15px;" src={{myPokemon.imageUrl}}>
    </a>
  </div>



</body>
